# Disabilita la ricerca automatica di index.html
DirectoryIndex flask_app.cgi

Options +ExecCGI
AddHandler cgi-script .cgi

RewriteEngine On
RewriteBase /

# Se il file richiesto esiste (come un'immagine o un CSS), caricalo normalmente
RewriteCond %{REQUEST_FILENAME} !-f
# Altrimenti, manda tutto al bridge Python
RewriteRule ^(.*)$ flask_app.cgi/$1 [L,QSA]